*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MC;
    src: url(../fonts/MountainsofChristmas-Bold.ttf);
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(63, 3, 77);
    margin: 0 auto;
}

.name{
    font-family: MC;
    font-size: 36px;
    color: rgb(36, 137, 36);
    text-align: center;
    padding-top: 24px;
}

.gallery__img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

#snow{
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none !important; /* важно */
  user-select: none;
}
@media (prefers-reduced-motion: reduce){
  #snow{ display: none !important; }
}

@media screen and (max-width: 390px) {

    .container{
        /*background-color: chartreuse; */
        height: auto;
    }

    .gallery{
        flex-direction: column;
        align-items: center;
    }

    .gallery__img{
        margin-bottom: 24px;
    }    

}
